.custom-size {
    height: 20px !important;
}

.hover-cursor {
    cursor: pointer;
}

.site-heading {
    color: #000000;
    text-decoration: none;
}

.site-heading:hover {
    color: maroon;
}

#time-s {
    font-size: 10pt;
}

.wider-input {
    width: 40% !important;
}

.narrow-input {
    width: 20% !important;
}

.input-border-black {
    border-color: black !important;
}

